@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Benvenuti!</h1>
    <p>Sito di esempio per confrontare motori di traduzione automatica diversi.</p>
</div>
