@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>I dati immessi in questo sito non verranno memorizzati su nessun dispositivo, 
    esistono solo in memoria per il tempo necessario di svolgere l'operazione di traduzione.</p>
